# Coursera Capstone Notebook

## Description

This notebook will be used for the capstone project.

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

## Part 1: Segmenting and Clustering Neighborhoods in Toronto

This part of the notebook is dedicated to 'Segmenting and Clustering Neighborhoods in Toronto' assignment

--------------------------------------------------------------------------------------

Read data from Wikipedia and create a dataframe 'df' with it:

In [3]:
df = pd.DataFrame()
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df.head(20)

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
7,M8A,Not assigned,Not assigned
8,M9A,Etobicoke,"Islington Avenue, Humber Valley Village"
9,M1B,Scarborough,"Malvern, Rouge"
10,M2B,Not assigned,Not assigned
11,M3B,North York,Don Mills
12,M4B,East York,"Parkview Hill, Woodbine Gardens"
13,M5B,Downtown Toronto,"Garden District, Ryerson"
14,M6B,North York,Glencairn
15,M7B,Not assigned,Not assigned
16,M8B,Not assigned,Not assigned
17,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."
18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
19,M2C,Not assigned,Not assigned

Display number of rows, columns, etc.:

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Postal Code   180 non-null    object
 1   Borough       180 non-null    object
 2   Neighborhood  180 non-null    object
dtypes: object(3)
memory usage: 4.3+ KB

Now, look for 'Not assigned' values, both on 'Borough' and 'Neighborhood' columns:

In [5]:
print("value_counts() in Neighborhood:\n")
print(df['Neighborhood'].value_counts())
print("\n\n")
print("value_counts() in Borough:\n")
print(df['Borough'].value_counts())

value_counts() in Neighborhood:

Not assigned                                                         77
Downsview                                                             4
Don Mills                                                             2
Kennedy Park, Ionview, East Birchmount Park                           1
Bayview Village                                                       1
                                                                     ..
Northwest, West Humber - Clairville                                   1
East Toronto, Broadview North (Old East York)                         1
Humewood-Cedarvale                                                    1
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park     1
Lawrence Manor, Lawrence Heights                                      1
Name: Neighborhood, Length: 100, dtype: int64



value_counts() in Borough:

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
York                 5
East Toronto         5
Mississauga          1
Name: Borough, dtype: int64

Replace 'Not assigned' values on 'Borough' column with NaN:

In [6]:
df['Borough'].replace('Not assigned',np.nan,inplace=True)
print("value_counts() in Neighborhood:\n")
print(df['Neighborhood'].value_counts())
print("\n\n")
print("value_counts() in Borough:\n")
print(df['Borough'].value_counts())

value_counts() in Neighborhood:

Not assigned                                                         77
Downsview                                                             4
Don Mills                                                             2
Kennedy Park, Ionview, East Birchmount Park                           1
Bayview Village                                                       1
                                                                     ..
Northwest, West Humber - Clairville                                   1
East Toronto, Broadview North (Old East York)                         1
Humewood-Cedarvale                                                    1
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park     1
Lawrence Manor, Lawrence Heights                                      1
Name: Neighborhood, Length: 100, dtype: int64



value_counts() in Borough:

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
York                 5
East Toronto         5
Mississauga          1
Name: Borough, dtype: int64

Now, there are NaN values on 'Borough', instead of 'Not assigned'. Remove those rows with dropna():

In [7]:
#Number of NaN occurrences:
nan_occur = len(df['Borough']) - df['Borough'].count()
print("Number of NaN occurrences previous to dropna() is: ",nan_occur)
#Drop rows with NaN:
df.dropna(axis=0,inplace=True)
nan_occur = len(df['Borough']) - df['Borough'].count()
print("Now the number of NaN is: ",nan_occur)
df.head()

Number of NaN occurrences previous to dropna() is:  77
Now the number of NaN is:  0

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [8]:
print("value_counts() in Neighborhood:\n")
print(df['Neighborhood'].value_counts())
print("\n\n")
print("value_counts() in Borough:\n")
print(df['Borough'].value_counts())

value_counts() in Neighborhood:

Downsview                                       4
Don Mills                                       2
Birch Cliff, Cliffside West                     1
Parkwoods                                       1
Alderwood, Long Branch                          1
                                               ..
Woodbine Heights                                1
Christie                                        1
Brockton, Parkdale Village, Exhibition Place    1
Regent Park, Harbourfront                       1
Lawrence Manor, Lawrence Heights                1
Name: Neighborhood, Length: 99, dtype: int64



value_counts() in Borough:

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East York            5
East Toronto         5
Mississauga          1
Name: Borough, dtype: int64

Display number of rows, columns, etc.:

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 2 to 178
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Postal Code   103 non-null    object
 1   Borough       103 non-null    object
 2   Neighborhood  103 non-null    object
dtypes: object(3)
memory usage: 3.2+ KB

Group dataframe by Postal Code, and join Neighborhoods on the same Postal Code:

In [10]:
grouped = df.groupby('Postal Code').agg(Borough=('Borough',lambda x:x),
                              Neighborhood=('Neighborhood',lambda x: ', '.join(x))).reset_index()

Transform DataFrameGroupBy back to DataFrame:

In [11]:
df = grouped.transform(lambda x:x)
df

,Postal Code,Borough,Neighborhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

Shape of the resulting dataframe:

In [12]:
df.shape

(103, 3)

## Getting Latitude and Longitude from Geocoder

Here, 'Latitude' and 'Longitude' columns will be added to dataframe

In [18]:
pip install geocoder

Collecting geocoder
  Downloading geocoder-1.38.1-py2.py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 671 kB/s eta 0:00:011
Requirement already satisfied: future in /home/martin/anaconda3/lib/python3.7/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: requests in /home/martin/anaconda3/lib/python3.7/site-packages (from geocoder) (2.22.0)
Requirement already satisfied: click in /home/martin/anaconda3/lib/python3.7/site-packages (from geocoder) (7.0)
Collecting ratelim
  Downloading ratelim-0.1.6-py2.py3-none-any.whl (4.0 kB)
Requirement already satisfied: six in /home/martin/anaconda3/lib/python3.7/site-packages (from geocoder) (1.14.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/martin/anaconda3/lib/python3.7/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/martin/anaconda3/lib/python3.7/site-packages (from requests->geocoder) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in /home/martin/anaconda3/lib/python3.7/site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/martin/anaconda3/lib/python3.7/site-packages (from requests->geocoder) (2019.11.28)
Requirement already satisfied: decorator in /home/martin/anaconda3/lib/python3.7/site-packages (from ratelim->geocoder) (4.4.1)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6
WARNING: You are using pip version 20.0.2; however, version 20.1.1 is available.
You should consider upgrading via the '/home/martin/anaconda3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [19]:
import geocoder

Definition of "get_coordinates()" method to get latitude and longitude from geocoder

In [21]:
def get_coordinates(postalCode):
    lat_lng_coords = None
    #loop until get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, Ontario'.format(postalCode))
        lat_lng_coords = g.latlng

    latitude = lat_lng_coords[0]
    longitude = lat_lng_coords[1]
    return (latitude,longitude)

First, lets see if Geocoder is working fine:

In [40]:
g = geocoder.google('Mountain View, CA')
g = geocoder.google('Mountain View, CA')
g.ok

False

Geocoder isn't working as we expected. Lets see the error message on url provided by g.url

In [38]:
g.url

'https://maps.googleapis.com/maps/api/geocode/json?address=Mountain+View%2C+CA&bounds=&components=&region=&language=&key=puting+my+key+here'

Entering to the link, the following error can be seen:

*error_message	"The provided API key is invalid."*

*results	[]*

*status	"REQUEST_DENIED"*

So, we'll have to load latitude and longitude data from .csv

In [41]:
data_url = 'http://cocl.us/Geospatial_data'
latlng_df = pd.read_csv(data_url)
latlng_df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

Sort both dataframes by 'Postal Code':

In [48]:
df.sort_values(['Postal Code'],inplace=True)
latlng_df.sort_values(['Postal Code'],inplace=True)

Now, add 'Latitude' and 'Longitude' columns to my original dataframe:

In [52]:
df['Latitude'] = latlng_df['Latitude']
df['Longitude'] = latlng_df['Longitude']
df.head(12)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"Kennedy Park, Ionview, East Birchmount Park",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile, Clairlea, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffside, Cliffcrest, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.757410,-79.273304
11,M1R,Scarborough,"Wexford, Maryvale",43.750072,-79.295849